  @media screen and (min-width: 0px) and (max-width: 329px) {
    .wrapper {
      min-height: calc(100% - 364px);
    }
  }

  @media screen and (min-width: 330px) and (max-width: 401px) {
    .wrapper {
      min-height: calc(100% - 360px);
    }
  }

  @media screen and (min-width: 402px) and (max-width: 500px) {
    .wrapper {
      min-height: calc(100% - 404px);
    }
  }

  @media screen and (min-width: 501px) and (max-width: 549px) {
    .wrapper {
      min-height: calc(100% - 217px);
    }
  }

  @media screen and (min-width: 550px) and (max-width: 842px) {
    .wrapper {
      min-height: calc(100% - 207px);
    }
  }

  @media screen and (min-width: 843px) and (max-width: 942px) {
    .wrapper {
      min-height: calc(100% - 197px);
    }
  }

  @media screen and (min-width: 943px) {
    .wrapper {
      min-height: calc(100% - 173px);
    }
  }

  main {
    overflow: auto;
  }

  footer {
    position: relative;
    clear: both;
  }
  
  .logo-loading {
    margin-top: -14%;
    margin-left: -18%;
  }
  
  .ring {
    position: absolute;
    /*Moves the word loading down and into the center of the page*/
    top: 40%;
    left: 50%;
    /*Moves the circle and loading word to the center of the page*/
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    /*Makes the word loading have a transparent background*/
    background: transparent;
    /*Creates a square*/
    border: 3px solid #13b013;
    /*turns the square to a circle*/
    border-radius: 50%;
    /* Aligns the word Loading to the right so it is in the center of the circle*/
    text-align: center;
    /*Moves the word Loading down and into the center of the circle*/
    line-height: 150px;
    /*Set font type*/
  
    font-family: Arial, sans-serif;
   /*Size font*/
    font-size: 20px;
    /*Sets font color*/
    color: #13b013;
    /*Spaces out letters*/
    letter-spacing: 4px;
    /*makes text uppercase*/
    text-transform: uppercase;
    /*To create glow effect*/
    text-shadow: 0 0 10px #13b013;
    /* Creates dark shadow around circle*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  /*Creates yellow spinner ring*/
  .ring:before {
    content: "";
    position: absolute;
    /*originally set to 0px, but it was off, so changed to -3px to align with the loading circle*/
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    /*Creates half a circle for the spinner portion*/
    border: 3px solid transparent;
    /*creates only top and right square border portion*/
    border-top: 3px solid #13b013;
    border-right: 3px solid #13b013;
    /*turns the box radius into a half circle :) */
    border-radius: 50%;
    /*creates animation*/
    animation: animateCircle 2s linear infinite;
  }
  /*Creates dial for the spinner to follow*/
  .circulo {
    /*display: block; starts a new line for the HTML span element*/
    display: block;
    position: absolute;
    /* The calc() function takes a single expression as its parameter, with the expression's result used as the value */
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }
  /*creates the ball for the spinner to follow*/
  .circulo:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #13b013;
    /*moves the ball to the top of the line created in the previous span*/
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #13b013;
  }
  /*Now the fun part, the ring will move with the ball that we set with the animate and animateCircle variables*/
  @keyframes animateCircle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }