/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #232121; }

.mat-toolbar.mat-primary {
    background: #9fc74fc7;
    color: #fff;
  }

  .mat-toolbar.mat-secondary {
    background: #4d9f46ab;
    color: #fff;
  }

  .mat-card{
    background-color:rgba(255, 255, 255, 0.048);
    color: #fff;
  }

  .mat-card-subtitle{
    color: #fff;
  }

  .mat-icon-button{
    color: #fff;
  }

  .button-row{
    display: initial;
  }

  .mat-stroked-button{
    border: 2px solid #21cf27
  }

  .mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child, .mat-card-actions .mat-stroked-button:first-child{
    border:inset;
    border-color: #21cf27;
  }